$gutter: 1rem;
$color-light-green: #EEF3ED;
$shadow: -1px 2px 5px 1px #0005;

select {
    margin: 5px;
    padding: $gutter/2;
    border-radius: 17px;
    font-size: large;
    box-shadow: $shadow;
    background-color: $color-light-green;
}


.card {
    padding: 0;
    border-radius: 17px;
    border: solid 1px rgb(14, 13, 13);
    position: relative;
    overflow: hidden;
    background-color: $color-light-green;
    margin: $gutter*2;
    box-shadow: $shadow;

    img {
        width: 100%;
        display: block;
    }


    & .card__content {
        padding: $gutter $gutter*2;
    }

}